    version: "2.1"
    services:
      sonarr:
        image: ghcr.io/linuxserver/sonarr
        container_name: sonarr
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=Europe/London
        volumes:
          - /home/jtorchia/trucho-server/config
          - /home/jtorchia/trucho-server/tv #optional
          - /home/jtorchia/trucho-server/downloads #optional
        ports:
          - 8989:8989
        restart: unless-stopped
      plex:
        image: ghcr.io/linuxserver/plex
        container_name: plex
        network_mode: host
        environment:
        - PUID=1000
        - PGID=1000
        - VERSION=docker
        - PLEX_CLAIM= #optional
        volumes:
        - /home/jtorchia/trucho-server/config
        - /home/jtorchia/trucho-server/tv
        - /home/jtorchia/trucho-server/movies
        restart: unless-stopped  
      transmission:
        image: ghcr.io/linuxserver/transmission
        container_name: transmission
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=Europe/London
          - TRANSMISSION_WEB_HOME=/combustion-release/ #optional
          - USER=jtorchia #optional
          - PASS=mario456luis #optional
          - WHITELIST=iplist #optional
          - HOST_WHITELIST=dnsnane list #optional
        volumes:
          - /home/jtorchia/trucho-server/config
          - /home/jtorchia/trucho-server/downloads
          - /home/jtorchia/trucho-server/watch
        ports:
          - 9091:9091
          - 51413:51413
          - 51413:51413/udp
        restart: unless-stopped